.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16px;
}

.gameOverMessage {
  display: flex;
  align-items: center;
  gap: 24px;
  
  svg {
    font-size: 64px;
  }
}